@import '{ethereum:dapp-styles}/dapp-styles.less';

.dapp-footer {
  height: 45px;
  color: white;
  a {
    color: white;
  }
}

.dapp-error {
  transition: none !important;
}

.dapp-content {
  max-width: none;
  padding-left: 80px;
  padding-right: 80px;
}

form#form-transfer, form#form-createLicenseContract, form#form-signLicenseContract, form#form-issueLicense, form#form-revokeIssuance, form#form-disableLicenseContract, form#balance-address-selection, form#form-settings {
  input[type=text], input[type=number], input[type=date], input[type=datetime-local], select, .dapp-address-input, .dapp-select-gas-price, textarea {
    width: 100%;
    height: @gridHeight*2;
  }
  input[readonly] {
    color: @colorGrayDark;
  }
  textarea {
    height: @gridHeight*4;
    &.monospaced {
      font-family: monospace;
    }
  }
}

#form-settings h2 {
  margin-top: 20px;
  margin-bottom: 0;
}

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
}

h2.address {
  text-transform: none;
}

h4 {
  text-transform: uppercase;
}

.global-notifications {
  position: fixed;
  bottom: @defaultPaddingVertical*2;
  right: @defaultPaddingVertical*2;
  font-weight: 400;

  .global-notification {
    &.success {
      background-color: @colorGreen;
      h1 {
        color: white;
      }
    }
  }
}

.mediumModal {
  width: 50%;
  min-width: 768px;
}

.wideModal {
  width: 75%;
  min-width: 768px;
}

.dapp-header {
  .dapp-flex-item {
    flex: 1 0;
  }
}

.dapp_address {
  white-space: nowrap;
}

.inputDescription {
  display: inline-block;
  margin-top: 3px;
  color: @colorTextSecondary;
  font-weight: 100;
}

.inputDescription.hasError {
  display: none;
}

.lob-error-message {
  margin-top: 3px;
  color: @colorError;
  font-weight: normal;
}

.issuanceFee {
  font-size: 2em;
  > span {
    font-size: 0.6em;
    text-transform: uppercase;
  }
}

td {
  &.buttonColumn {
    width: 150px;
  }
  &.wideButtonColumn {
    width: 250px;
  }
  &.collapsed {
    padding: 0;
  }
  &.smallColumn {
    width: 60px;
  }
}

span[contenteditable=true] {
  display: inline-block;
  min-width: 100px;
  border-bottom: gray dashed 1px;
  min-height: 1em;
}

.clickable {
  cursor: pointer;
}

.graphContainer {
  overflow: scroll;
}

.pendingTransactionRow {
  .date {
    p {
      font-size: 2em;
    }
  }
  .arrow {
    margin-left: 7px;
    margin-right: 7px;
  }
  .amount {
    font-size: 2em;
  }
}

.dapp-identicon {
  cursor: default;
}

.dapp-identicon.dapp-tiny {
  position: relative;
  top: 5px;
}

.issuanceInfo, .licenseContractInfo, .transferTransactionInfo, .licenseContractCreationTransactionInfo, .licenseContractSigningTransactionInfo, .disableLicenseContractTransactionInfo, .licenseIssuingTransactionInfo, .issuanceRevokeTransactionInfo, .accountInfo, .sslCertificateRevokeCheck, .termsOfUsage, .acknowledgements {
  h1 {
    margin-bottom: 5px;
  }
  h3, p, table, ul {
    text-align: left;
  }
}

.selectAddress {
  margin-top: @gridHeight;
  position: relative;
  .dapp-identicon {
    position: absolute;
    top: 7px;
    left: 10px;
  }
  select {
    padding-left: 40px;
    margin-top: 0;
  }
}

.selectIssuance {
  margin-top: @gridHeight;
  position: relative;
  padding-right: 2em;
  select {
    margin-top: 0;
  }
  .issuanceInfoButton {
    position: absolute;
    right: 0;
    top: 50%;
    display: inline-block;
    height: 1em;
    margin-top: -0.5em;
    font-size: 1.2em;
  }
}

.createLicenseContract, .disableLicenseContract {
  margin-top: @gridHeight;
}

.spinner {
  display: inline-block;
  border: 0.2em solid @colorGrayLight;
  border-top: 0.2em solid @colorBlue;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

tr.showAllRow {
  td {
    color: @colorLink;
    text-align: center;
  }
}

.browsercheck {
  text-align: center;
  h1 {
    margin-top: 50px;
    font-size: 6em;
  }
  p {
    font-size: 2em;
  }
  .installMetamask {
    width: 400px;
  }
}

[data-tooltip] {
  cursor: help;
}

.etherscanLink {
  text-align: center;
}

a.tableRowButton {
  display: inline-block;
  position: relative;
  // Make room for the button
  padding-left: 1.3em;

  i {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.5em;
  }
}

.certificateText {
  text-align: left;
  table {
    width: auto;
    min-width: 500px;
  }
}

.sslCertificateInformation {
  text-align: left;
  table {
    width: auto;
    min-width: 500px;
  }
  .certificateRow.selected {
    background-color: lighten(@colorLink, 10%);
  }
}

button.dapp-block-button#sign {
  white-space: normal;
}

@media print {
  // Don't print user interaction elements
  .dapp-header, .global-notification, .dapp-modal-buttons, button, span[contenteditable=true] {
    display: none !important;
  }

  // Print identicons
  .dapp-identicon {
    -webkit-print-color-adjust: exact;
  }

  // Show table borders instead of alternating colours
  table.dapp-zebra {
    tr {
      border-top: solid #555555 0.5px;
      border-bottom: solid #555555 0.5px;
    }
  }

  // A modal popover is show. Scale it up to the whole page
  body.disable-scroll.blur {
    .dapp-flex-content {
      display: none;
    }
    .dapp-modal-container {
      width: 100%;
      margin: 0;
      box-shadow: none;
    }
  }

  .graphContainer {
    overflow: visible;
  }
}
