@import '{ethereum:dapp-styles}/dapp-styles.less';

.dapp-footer {
  height: 45px;
  color: white;
}

.dapp-error {
  transition: none !important;
}

.dapp-content {
  max-width: none;
  padding-left: 80px;
  padding-right: 80px;
}

form#form-transfer, form#form-createLicenseContract, form#form-signLicenseContract {
  input[type=text], input[type=number], select, .dapp-address-input, .dapp-select-gas-price, textarea {
    width: 100%;
    height: @gridHeight*2;
  }
  textarea {
    height: @gridHeight*4;
  }
}

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0;
}

h4 {
  text-transform: uppercase;
}

.global-notifications {
  position: fixed;
  bottom: @defaultPaddingVertical*2;
  right: @defaultPaddingVertical*2;
  font-weight: 400;

  .global-notification {
    &.success {
      background-color: @colorGreen;
      h1 {
        color: white;
      }
    }
  }
}

.wideModal {
  width: 75%;
}

.certificateText {
  text-align: left;
  table {
    width: auto;
  }
}

#graphContainer {
  width: 100%;
}

.dapp-header {
  .dapp-flex-item {
    flex: 1 0;
  }
}

.lob-error-message {
  color: @colorError;
  font-weight: normal;
}